@tailwind base;
@tailwind components;
@tailwind utilities;

.h-80p{
  height: 90vh;
}
.h-80-p{
  height: 80vh;
}

.h-10p{
  height: 10vh;
}

/* Hide scroll bars for all elements */
::-webkit-scrollbar {
  width: 0em; /* Adjust the width as needed */
  background-color: transparent; /* Set the background color of the scroll bar track */
}

/* Hide scroll bar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scroll bar thumb */
}

/* Hide scroll bar track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scroll bar track */
}
